@tailwind base;
@tailwind components;
@tailwind utilities;

.fi-modal-content {
    background-color: #e5e7eb;
    padding: 6px;
}

.fi-section-content {
    padding: 22px 16px;
}

.fi-section-header {
    padding: 16px;
}

.fi-ta-content-grid {
    padding: 16px 4px;
}

.fi-ta-record .block {
    padding: 8px;
}

.announcement-card img{/* Здесь высота устанавливается как 100% от ширины, создавая квадрат */
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.grecaptcha-badge { 
    visibility: hidden;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}